{% extends 'blog/base.html' %}
{% block content %}
{% for post in posts %}
    <div class="post">
        <div class="date">
            <span class="label label-default">{{ post.published_date }}</span>
            <span class="label label-primary">by {{ post.author }} </span>
        </div>
        <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
        <p>{{ post.text|truncatechars:200 }}</p>
        <a href="{% url 'likes' post_id=post.pk%}">
            <button type="button" class="btn btn-default" id="likes-button" aria-label="Left Align">
                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> {{ post.num_votes}}
            </button>
        </a>
    </div>
{% endfor %}

{% endblock %}
{% block content1 %}
    <h2>Our authors:</h2>
    {% for author in authors %}
        <ul>
            <li><h4><a href="{% url 'posts_author' author=author.author__username %}">{{ author.author__username}}</a>
                ({{ author.author__username__count}})</h4></li>
        </ul>
    {% endfor %}
{% endblock %}

