{% extends 'blog/base.html' %}
{% load staticfiles%}
{% block content %}
{% for post in posts %}
    <div class="post">
        <div class="date">
            <span class="label label-default">{{ post.published_date }}</span>
            <span class="label label-primary">by {{ post.author }} </span>
        </div>
        <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
        <p>{{ post.text|truncatechars:200 }}</p>
        {% if user.is_authenticated %}
            {% if post in user_likes %}
                    <button type="button" class="btn btn-default likes liked" aria-label="Left Align"
                            data-post="{{ post.pk }}" data-action="like-post">
                        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                        <span class="count">{{ post.num_votes}}</span>
                    </button>
            {% else %}
                    <button type="button" class="btn btn-default likes" aria-label="Left Align"
                            data-post="{{ post.pk }}" data-action="like-post">
                        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                        <span class="count">{{ post.num_votes}}</span>
                    </button>
            {% endif %}
        {% else %}
            <a href="{% url 'login' %}">
                <button type="button" class="btn btn-default likes" aria-label="Left Align">
                    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                    <span class="count">{{ post.num_votes}}</span>
                </button>
            </a>
        {% endif %}
    </div>
{% endfor %}

{% endblock %}
{% block content1 %}
    <h2>Our authors:</h2>
    {% for author in authors %}
        <ul>
            <li><h4><a href="{% url 'posts_author' author=author.author__username %}">{{ author.author__username}}</a>
                ({{ author.author__username__count}})</h4></li>
        </ul>
    {% endfor %}
{% endblock %}
{% block js %}
    <script src="{% static 'js/like.js' %}"></script>
{% endblock %}

