{% extends 'blog/base.html' %}
{% load staticfiles%}
{% block content %}
<div class="post">
    <div class="date">
        <span class="label label-primary">by {{ post.author }} </span>
        {% if post.published_date %}
            <span class="label label-default">{{ post.published_date }}</span>
        {% else %}
            {% if user.is_authenticated and user == post.author%}
                <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
            {% endif %}
        {% endif %}
            {% if user.is_authenticated and user == post.author %}
                <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">
                    <span class="glyphicon glyphicon-pencil"></span></a>
                <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}">
                    <span class="glyphicon glyphicon-remove"></span></a>
            {% endif %}
    </div>

    <h1>{{ post.title }}</h1>
    <p>{{ post.text|linebreaksbr }}</p>
    {% if user.is_authenticated %}
            {% if post in user_likes %}
                    <button type="button" class="btn btn-default likes liked" aria-label="Left Align"
                            data-post="{{ post.pk }}" data-action="like-post">
                        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                        <span class="count">{{ post.num_votes}}</span>
                    </button>
            {% else %}
                    <button type="button" class="btn btn-default likes" aria-label="Left Align"
                            data-post="{{ post.pk }}" data-action="like-post">
                        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                        <span class="count">{{ post.num_votes}}</span>
                    </button>
            {% endif %}
        {% else %}
            <a href="{% url 'login' %}">
                <button type="button" class="btn btn-default likes" aria-label="Left Align">
                    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                    <span class="count">{{ post.num_votes}}</span>
                </button>
            </a>
        {% endif %}
</div>
{% endblock content %}
{% block js %}
    <script src="{% static 'js/like.js' %}"></script>
{% endblock %}